@model Brand
@{
    ViewData["Title"] = "Marka Güncelleme";

}
<div class="card">
    <div class="card-body">
        @if (!ViewContext.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Photo" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="DateCreated" />
            <div class="form-row">
                <div class="col-12 form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 form-group">

                    <div class="py-4">
                        <img src="@Model.Photo" height="200" />
                        <p class="text-info">Değiştirmek istiyorsanız doldurunuz...</p>
                    </div>

                    <label asp-for="PhotoFile"></label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="PhotoFile" name="PhotoFile" accept="image/*">
                        <label class="custom-file-label" for="customFile" data-browse="Dosya Seç">dosya seçiniz...</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" asp-for="Enabled">
                        <label class="custom-control-label" asp-for="Enabled"></label>
                    </div>
                </div>
            </div>
            <hr />
            <a class="btn btn-link" asp-action="Index">İptal</a>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Kaydet
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}