
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-wrap">
    @foreach (var item in ViewBag.Brands as IEnumerable<Brand>)
    {
        <div class="border p-4 text-center d-flex flex-column m-2">
            <img src="@item.Photo" height="120" width="120"/>
            <span>@item.Name</span>
        </div>

    }
</div>