@model Banner
@{
    ViewData["Title"] = "Tanıtım Görseli Ekleme";
}
<div class="card">
    <div class="card-body">
        @if (!ViewContext.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-6 form-group">
                <label asp-for="DateFirst"></label>
                <input asp-for="DateFirst" class="form-control" />
                <span asp-validation-for="DateFirst"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="DateLast"></label>
                <input asp-for="DateLast" class="form-control" />
                <span asp-validation-for="DateLast"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 form-group">
                <label asp-for="Url"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="IsDefault">
                    <label class="custom-control-label" asp-for="IsDefault"></label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 form-group">
                <label asp-for="PhotoFile"></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="PhotoFile" name="PhotoFile" accept="image/*">
                    <label class="custom-file-label" for="customFile" data-browse="Dosya Seç">dosya seçiniz...</label>
                </div>
                <img id="PhotoPreview" src="" height="200" class="p-2 my-2 border d-none" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="Enabled">
                    <label class="custom-control-label" asp-for="Enabled"></label>
                </div>
            </div>
        </div>
        <hr />
        <a class="btn btn-link" asp-action="Index">İptal</a>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i> Kaydet
        </button>
    </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(() => {
            $('#PhotoFile').change(function () {
                var reader = new FileReader();
                reader.onloadend = function (event) {
                    $('#PhotoPreview').attr('src', reader.result).removeClass('d-none');
                    
                } 
                reader.readAsDataURL(document.getElementById("PhotoFile").files[0]);
            });
           
        });


    </script>
}