@{
    ViewData["titile"] = "İzin Yok!";
}

<div class="d-flex flex-column p-5 align-items-center justify-content-center">
    <i class="fa fa-sad-tear fa-5x text-secondary"></i>
    <h2>Hata!</h2>
    <p>Bu sayfayı görme yetkiniz yok.</p>
    
</div>
