@model int
<li>
    <a asp-controller="Account" asp-action="Checkout" class="nav-link border mr-2">
        <i class="fa fa-shopping-cart"></i> Sepetiniz
        <span class="badge badge-success">@Model.ToString()</span>
    </a>
</li>